django
djangorestframework
django-rest-auth

django-jsonfield
django-shortuuidfield
django-phonenumber-field
phonenumbers
django-location-field

pillow
django-qsessions
django-money

django-extensions
werkzeug
pyOpenSSL

pyuploadcare
django-sendgrid-v5


google-api-python-client
oauth2client

django-environ
django-split-settings