django
djangorestframework
django-rest-auth

django-jsonfield
django-shortuuidfield
django-phonenumber-field

pillow
django-qsessions
django-money

django_extensions
werkzeug
pyOpenSSL

pyuploadcare
django-sendgrid-v5

phonenumbers
django-location-field

google-api-python-client
oauth2client
django-environ
